{
    "debugmode": false,
    "coreName": "Yawarakai",
    "botname": "Bot Display Name",
    "token": "Bot API Token",
    "webhook": {
        "url": "",
        "port" : 8000
    },
    "diagnosticChannel": {
        "enable": false,
        "channel": "Channel Username or Channel ID"
    },
    "redis": {
        "host": "Redis Hostname",
        "port": "6379",
        "auth": "Password of redis"
    },
    "language": "en-US"
}