{
    "coreName": "Yawarakai",
    "botname": "悠月",
    "token": "Key",
    "webhook": {
        "url": "https://569fef0a.ngrok.io",
        "port" : 5000
    },
    "proxy": {
        "enable": false,
        "host": "127.0.0.1",
        "port": 1280
    },
    "language": "zh-CN"
}